<template>
    <div class="card">
        <img :src="getPosterSrc" alt="image" class="card-image"/>
        <div class="card-text">
            <div class="card-heading">
                <h3 class="card-title card-title-reg">{{ good['name'] }}</h3>
            </div>

            <div class="card-info">
                <div class="ingredients">
                    {{ good['ingredients'].join(', ') }}.
                </div>
            </div>

            <div class="card-buttons">
                <button
                    class="button button-primary"
                    :class="{'is-in-cart': isGoodInCart(good['id'])}"
                    @click="addGoodToCart(good['id'])"
                >
                    <span class="button-card-text">
                        {{ isGoodInCart(good['id']) ? 'В корзине' : 'В корзину'}}
                    </span>

                    <span class="button-cart-svg"></span>
                </button>
                <strong class="card-price-bold">{{ good['price'] }} ₽</strong>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "GoodsCardItem",

    props: {
        good: {
            type: Object,
            require: true
        }
    },

    computed: {
        ...mapGetters(['getCartList']),

        getPosterSrc() {
            return require(`@/assets/${this.good['id']}.jpg`)
        }
    },

    methods: {
        ...mapActions(['addToCart']),

        async addGoodToCart(id) {
            if (this.isGoodInCart(id)) {
                this.$emitter.emit('cart-modal', true)
                return
            }

            await this.addToCart(id)

            this.$notify({
                type: "success",
                title: "Блюдо добавлено в корзину"
            });
        },

        isGoodInCart(id) {
            return !!this.getCartList.find(item => item.id === id)
        }
    }
}
</script>
