<template>
    <div class="no-goods">
        <p>
            К сожалению у данного ресторана пока ещё нет блюд
        </p>

        <button
            class="button button-primary"
            @click="goHome"

        >
            <span class="button-text">На главную</span>
        </button>
    </div>
</template>

<script>
export default {
    name: "GoodsCardEmpty",

    methods: {
        goHome() {
            this.$router.push({name: 'home'})
        }
    }
}
</script>