<template>
    <div class="modal-auth">
        <div class="modal-dialog modal-dialog-auth">
            <button
                class="close-auth"
                @click="this.$emitter.emit('login-modal', false)"
            >
                &times;
            </button>

            <form @submit.prevent="login">
                <fieldset class="modal-body">
                    <legend class="modal-title">Авторизация</legend>

                    <label class="label-auth">
                        <span>Логин</span>
                        <input
                            type="text"
                            v-model="userLogin"
                            required
                        >
                    </label>

                    <label class="label-auth">
                        <span>Пароль</span>
                        <input
                            type="password"
                            v-model="userPassword"
                            required
                        >
                    </label>
                </fieldset>

                <div class="modal-footer">
                    <div class="footer-buttons">
                        <button
                            class="button button-primary button-login"
                            type="submit"
                            @click="login"
                        >
                            Войти
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: "AuthModal",

    data() {
        return {
            userLogin: '',
            userPassword: ''
        }
    },

    methods: {
        ...mapActions(['doLogin']),

        login() {
            this.doLogin(this.userLogin)
            this.$emitter.emit('login-modal', false)
        }
    }
}
</script>