<template>
    <div class="modal modal-cart">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3 class="modal-title">Корзина</h3>

                <button
                    class="close"
                    @click="this.$emitter.emit('cart-modal', false)"
                >
                    &times;
                </button>
            </div>

            <template v-if="cartList.length">
                <div class="modal-body">
                    <cart-item
                        v-for="item in cartList"
                        :key="item['id']"
                        :item="item"
                    />
                </div>

                <div class="modal-footer">
                    <span class="modal-pricetag">{{ totalAmount }} ₽</span>
                    <div class="footer-buttons">
                        <button class="button button-primary">Оформить заказ</button>

                        <button
                            class="button clear-cart"
                            @click="this.$emitter.emit('cart-modal', false)"
                        >
                            Отмена
                        </button>
                    </div>
                </div>
            </template>

            <template v-else>
                <div class="cart-empty">
                    <p>Ваша корзина пуста</p>

                    <button
                        class="button button-primary"
                        @click="this.$emitter.emit('cart-modal', false)"
                    >
                        <span class="button-text">За покупками</span>
                    </button>
                </div>
            </template>




        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";
import CartItem from "@/components/CartItem.vue";

export default {
    name: "CartModal",
    components: {CartItem},

    computed: {
        ...mapGetters(['getCartList', 'getGoodsListById']),

        cartList() {
            return this.getCartList.map(item => {
                const goodItem = this.getGoodsListById(item['id'])

                return {
                    id: goodItem['id'],
                    name: goodItem['name'],
                    price: goodItem['price'],
                    quantity: item['quantity']
                }
            })
        },

        totalAmount() {
            let sum = 0;

            for (const item of this.cartList) {
                sum = sum + item['quantity'] * item['price']
            }

            return sum;
        }
    }
}
</script>
