<template>
    <div class="container">
        <header class="header">
            <router-link
                :to="{name: 'home'}"
                class="logo"
            >
                <img src="@/assets/icon/logo.svg" alt="Logo" />
            </router-link>

            <label class="address">
                <input type="text" class="input input-address" placeholder="Адрес доставки" />
            </label>

            <div class="buttons">
                <span
                    v-if="getUserLogin"
                    class="user-name"
                >
                    Привет, {{ getUserLogin }}
                </span>

                <button
                    v-if="!getUserLogin"
                    class="button button-primary button-auth"
                    @click="this.$emitter.emit('login-modal', true)"
                >
                    <span class="button-auth-svg"></span>
                    <span class="button-text">Войти</span>
                </button>

                <button
                    class="button button-cart"
                    @click="this.$emitter.emit('cart-modal', true)"
                >
                    <span class="button-cart-svg"></span>
                    <span class="button-text">Корзина</span>
                </button>

                <button
                    v-if="getUserLogin"
                    class="button button-primary button-out"
                    @click="logout"
                >
                    <span class="button-text">Выйти</span>
                    <span class="button-out-svg"></span>
                </button>
            </div>
        </header>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "TemplatesHeader",

    computed: {
        ...mapGetters(['getUserLogin'])
    },

    methods: {
        ...mapActions(['logout'])
    }
}
</script>
