<template>
    <footer class="footer">
        <div class="container">
            <div class="footer-block">
                <img src="@/assets/icon/logo.svg" alt="logo" class="logo footer-logo" />
                <nav class="footer-nav">
                    <router-link :to="{name: 'coming-soon'}" class="footer-link">Ресторанам</router-link>
                    <router-link :to="{name: 'coming-soon'}" class="footer-link">Курьерам</router-link>
                    <router-link :to="{name: 'coming-soon'}" class="footer-link">Пресс-центр</router-link>
                    <router-link :to="{name: 'coming-soon'}" class="footer-link">Контакты</router-link>
                </nav>
                <div class="social-links">
                    <a href="https://instagram.com" target="_blank" class="social-link">
                        <img src="@/assets/social/instagram.svg" alt="instagram" />
                    </a>

                    <a href="https://fb.com" target="_blank" class="social-link">
                        <img src="@/assets/social/fb.svg" alt="facebook" />
                    </a>

                    <a href="https://vk.com" target="_blank" class="social-link">
                        <img src="@/assets/social/vk.svg" alt="vk" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    name: "TemplatesFooter"
}
</script>
