<template>
    <promo-banners :interval="5" />

    <section class="restaurants">
        <div class="section-heading">
            <h2
                v-if="!isSearchMode"
                class="section-title"
            >
                Рестораны
            </h2>

            <label
                class="search"
                :class="{'full-width': isSearchMode}"
            >
                <input
                    type="text"
                    class="input input-search"
                    placeholder="Поиск блюд и ресторанов"
                    v-model="searchQuery"
                    @focus="startSearch"
                    @blur="endSearch"
                />
            </label>
        </div>

        <search-result
            v-if="isSearchMode"
            :query="searchQuery"
        />

        <div
            v-if="!isSearchMode"
            class="cards cards-restaurants"
        >
            <restaurant-card-item
                v-for="restaurant in restaurantsList"
                :key="restaurant['id']"
                :restaurant="restaurant"
            />
        </div>
    </section>
</template>

<script>
import RestaurantCardItem from "@/components/restaurant-card/RestaurantCardItem.vue";
import PromoBanners from "@/components/PromoBanners.vue";
import {mapGetters} from "vuex";
import SearchResult from "@/components/SearchResult.vue";

export default {
    name: "HomeViews",

    components: {
        SearchResult,
        PromoBanners,
        RestaurantCardItem
    },

    data() {
        return {
            searchQuery: '',
            isSearchMode: false,
        }
    },

    computed: {
        ...mapGetters({
            restaurantsList: 'getRestaurantsList'
        })
    },
    
    methods: {
        startSearch() {
            this.isSearchMode = true;
        },

        endSearch() {
            if (this.searchQuery) {
                return
            }

            this.isSearchMode = false;
        }
    }
}
</script>
