<template>
    <section class="menu">
        <div class="section-heading">
            <h2 class="section-title restaurant-title">{{ restaurant['name'] }}</h2>

            <restaurant-card-info
                v-if="isDataLoaded"
                :restaurant="restaurant"
            />

            <div class="cards-menu-sort">
                <button
                    class="button button-primary"
                    @click="sortByPrice('expensive')"
                >
                    Сначала дорогие
                </button>

                <button
                    class="button button-primary"
                    @click="sortByPrice('cheap')"
                >
                    Сначала дешевые
                </button>
            </div>
        </div>

        <div
            v-if="goods.length"
            class="cards cards-menu"
        >
            <goods-card-item
                v-for="item in goods"
                :key="item['id']"
                :good="item"
            />
        </div>

        <goods-card-empty v-else />

    </section>
</template>

<script>
import {mapGetters} from "vuex";
import RestaurantCardInfo from "@/components/restaurant-card/RestaurantCardInfo.vue";
import GoodsCardItem from "@/components/goods-card/GoodsCardItem.vue";
import GoodsCardEmpty from "@/components/goods-card/GoodsCardEmpty.vue";

export default {
    name: "RestaurantViews",
    components: {
        GoodsCardEmpty,
        GoodsCardItem,
        RestaurantCardInfo
    },

    data() {
        return {
            isDataLoaded: false,

            restaurant: {},
            goods: [],
        }
    },

    computed: {
        ...mapGetters([
            'getRestaurantById',
            'getGoodsListByRestaurantId'
        ])
    },

    mounted() {
        this.initData();
    },

    methods: {
        async initData() {
            this.restaurant = await this.getRestaurantById(this.$route['params'].id)
            this.goods = await this.getGoodsListByRestaurantId(this.$route['params'].id)

            this.isDataLoaded = true
        },

        sortByPrice(type) {
            this.goods = this.goods.sort((itemA, itemB) =>
                itemB['price'] - itemA['price']
            )

            if (type === 'cheap') {
                this.goods.reverse()
            }
        }
    }
}
</script>
