<template>
    <div class="food-row">
        <span class="food-name">{{ item['name'] }}</span>
        <strong class="food-price">{{ item['price'] }} ₽</strong>

        <div class="food-counter">
            <button
                class="counter-button"
                @click="removeQuantity(item['id'])"
            >
                -
            </button>

            <span class="counter">{{ item['quantity'] }}</span>

            <button
                class="counter-button"
                @click="addQuantity(item['id'])"
            >
                +
            </button>
        </div>
    </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: "CartItem",

    props: {
        item: {
            type: Object,
            require: true
        }
    },

    methods: {
        ...mapActions([
            'addQuantity',
            'removeQuantity'
        ]),
    }
}
</script>