<template>
    <section class="container-promo">
        <carousel
            :items-to-show="1"
            :autoplay="this.interval * 1000"
            wrap-around
        >
            <slide index="1">
                <section class="promo pizza">
                    <h1 class="promo-title">Онлайн-сервис <br/>доставки еды на дом</h1>
                    <p class="promo-text">
                        Блюда из любимого ресторана привезет курьер в перчатках, маске и с антисептиком
                    </p>
                </section>
            </slide>

            <slide index="2">
                <section class="promo kebab">
                    <h1 class="promo-title">Шашлыки на майские <br> со скидкой 35%</h1>
                    <p class="promo-text">
                        Закажите шашлыки в любом ресторане до 10 мая и получите скидку по промокоду OMAGAD
                    </p>
                </section>
            </slide>

            <slide index="3">
                <section class="promo vegetables">
                    <h1 class="promo-title">Скидка 20% на всю еду <br> по промокоду LOVE.JS</h1>
                    <p class="promo-text">
                        Блюдо из ресторана привезут вместе с двумя подарочными книгами по фронтенду
                    </p>
                </section>
            </slide>

            <slide index="4">
                <section class="promo sushi">
                    <h1 class="promo-title">Сеты со скидкой до 30% <br> в ресторанах</h1>
                    <p class="promo-text">
                        Скидки на сеты до 30 мая по промокоду DADADA
                    </p>
                </section>
            </slide>
        </carousel>
    </section>
</template>

<script>
import 'vue3-carousel/dist/carousel.css'
import { Carousel, Slide } from 'vue3-carousel'
export default {
    name: "PromoBanners",

    components: {
        Carousel,
        Slide,
    },

    props: {
        // Интервал слайдшоу в секундах
        interval: {
            type: Number,
            default: 0
        }
    }
}
</script>

<style>
.carousel__viewport {
    border-radius: 10px;
    margin-bottom: 56px;
    box-shadow: 0 7px 12px rgba(158, 158, 163, 0.1);
    user-select: none;
}

.carousel__track {
    margin: 0;
}

.carousel__slide {
    display: inline;
    text-align: left;
}
</style>
