<template>
    <div class="search-result">

        <div
            v-if="!query"
            class="search-enter-query"
        >
            Введите название или категорию ресторана,<br> название или ингридиент блюда
        </div>

        <div v-if="query && restaurantsList.length">
            <h2 class="section-title">
                Рестораны
            </h2>
            <br>

            <div class="cards cards-restaurants">
                <restaurant-card-item
                    v-for="restaurant in restaurantsList"
                    :key="restaurant['id']"
                    :restaurant="restaurant"
                />
            </div>
        </div>

        <div v-if="query && goodsList.length">
            <h2 class="section-title">
                Блюда
            </h2>
            <br>

            <div class="cards cards-menu">
                <goods-card-item
                    v-for="item in goodsList"
                    :key="item['id']"
                    :good="item"
                />
            </div>
        </div>


    </div>
</template>

<script>
import {mapGetters} from "vuex";
import RestaurantCardItem from "@/components/restaurant-card/RestaurantCardItem.vue";
import GoodsCardItem from "@/components/goods-card/GoodsCardItem.vue";

export default {
    name: "SearchResult",
    components: {GoodsCardItem, RestaurantCardItem},

    props: {
        query: {
            type: String
        }
    },

    computed: {
        ...mapGetters([
            'getRestaurantsByNameAndCategory',
            'getGoodsByNameAndIngredients'
        ]),

        restaurantsList() {
            return this.getRestaurantsByNameAndCategory(this.query)
        },

        goodsList() {
            return this.getGoodsByNameAndIngredients(this.query)
        }
    }
}
</script>

<style scoped>

</style>