<template>
    <router-link
        class="card card-restaurant"
        :to="`restaurant/${restaurant['id']}`"
    >
        <img :src="getPosterSrc" alt="image" class="card-image" />
        <div class="card-text">
            <div class="card-heading">
                <h3 class="card-title">{{ restaurant['name'] }}</h3>
                <span class="card-tag tag">{{ restaurant['deliveryTime'] }}</span>
            </div>

            <restaurant-card-info :restaurant="restaurant" />
        </div>
    </router-link>
</template>

<script>
import RestaurantCardInfo from "@/components/restaurant-card/RestaurantCardInfo.vue";

export default {
    name: "RestaurantCardItem",
    components: {RestaurantCardInfo},

    props: {
        restaurant: {
            type: Object,
            require: true
        }
    },

    computed: {
        getPosterSrc() {
            return require(`@/assets/${this.restaurant['id']}/preview.jpg`)
        }
    },
}
</script>