<template>
    <div class="card-info">
        <div class="rating">
            {{ restaurant['averageRating'] }}
        </div>
        <div class="price">От {{ restaurant['minimalOrder'] }} ₽</div>
        <div class="category">{{ getCategoryList }}</div>
    </div>
</template>

<script>
export default {
    name: "RestaurantCardInfo",

    props: {
        restaurant: {
            type: Object,
            require: true
        }
    },

    computed: {
        getCategoryList() {
            return this.restaurant['category'].join(', ')
        }
    }
}
</script>
