<template>
    <div>
        <templates-header/>

        <main class="main">
            <div class="container">
                <router-view/>
            </div>
        </main>

        <templates-footer/>

        <auth-modal v-if="isShowAuthModal" />
        <cart-modal v-if="isShowCartModal"/>

        <notifications />
    </div>
</template>

<script>
import TemplatesHeader from "@/components/templates/TemplatesHeader.vue";
import TemplatesFooter from "@/components/templates/TemplatesFooter.vue";
import AuthModal from "@/components/modals/AuthModal.vue";
import CartModal from "@/components/modals/CartModal.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: 'App',

    components: {
        CartModal,
        AuthModal,
        TemplatesHeader,
        TemplatesFooter
    },
    
    computed: {
        ...mapGetters([
            'getCartList',
            'getGoodsListById'
        ])
    },

    watch: {
        getCartList: {
            deep: true,
            handler() {
                this.saveCartToLocalStorage();
            }
        }
    },

    data() {
        return {
            isShowAuthModal: false,
            isShowCartModal: false
        }
    },

    mounted() {
        this.$emitter.on('login-modal', modalState => {
            this.isShowAuthModal = modalState;
        })

        this.$emitter.on('cart-modal', modalState => {
            this.isShowCartModal = modalState;
        })

        this.getCartFromLocalStorage()
    },

    methods: {
        ...mapActions(['restoreCart']),

        restoreCartFromJson(cartData) {
            for (const cartItem of cartData) {
                if (!(cartItem['id'] && cartItem['quantity'])) {
                    continue;
                }

                const good = this.getGoodsListById(cartItem['id'])

                if (!good) {
                    continue;
                }

                this.restoreCart({
                    id: cartItem['id'],
                    quantity: cartItem['quantity']
                })
            }
        },
        
        saveCartToLocalStorage() {
            localStorage.setItem('cart', JSON.stringify(this.getCartList))
        },

        getCartFromLocalStorage() {
            const data = localStorage.getItem('cart')
            this.restoreCartFromJson(JSON.parse(data))
        }
    }
}
</script>
